body
{
    margin: 0px;
    padding: 0px;
    
	background-size: 20%;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;

    font-family: "Segoe UI", sans-serif;
    
    cursor: none;
}

/*@font-face {
    font-family: 'CustomFont';
    src: url('customfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}*/

#background
{
    width: 100%;
    height: 100%;
	background-color: #2b1d2c;
	background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(../img/background.jpg);
    background-size: cover;
    filter: blur(5px);
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    transform: scale(1.03);
    transition: all 20s linear;
    background-position: 0px 0px;
    display: block;
}

#logo
{
    width: 100%;
    height: 100%;
    background-image: url(../img/worldevents-logo.png);
    background-size: 15%;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 9998;
}

#music
{
    background-color: #1a1a1a;
    box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;

    opacity: 0.9;
    position: absolute;
    text-align: right;
    left: 5%;
    top: 2%;
    width: 200px;
    height: 25px;
    overflow: hidden;
    border-radius: 50px;
}

#play-button {
    width: 32px;
    float: left;
}

#volume-slider
{
    -webkit-appearance: none;
    width: 80%;
    height: 25px;
    background-color: #1a1a1a;
    outline: none;
    border-radius: 50px;
    float: left;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

#volume-slider::-webkit-slider-thumb 
{
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background: #e03232d2;

    line-height: 1.1em;
    margin-left: .125em;
    margin-right: .6em;
    text-align: left;

    margin-top: -2px;
    margin-bottom: 2px;
    padding: 5px;
    position: relative;
    display: inline;
    white-space: nowrap;
}
#volume-slider::-webkit-slider-thumb:active{
    background: #e03232;
    text-shadow: -2px 0 rgba(92, 92, 92, 0.267), 0 2px rgba(92, 92, 92, 0.267), 2px 0 rgba(92, 92, 92, 0.267), 0 -2px rgba(92, 92, 92, 0.267);
}

#volume-slider::-webkit-slider-thumb:hover{
    cursor: none;
}

#cursor
{
    position: absolute;
    z-index: 9999;
    pointer-events: none;
}

.log
{
    color: rgba(223, 223, 223, 0.1);
    position: absolute;
    text-align: right;
    right: 20px;
    top: 40px;
}

.log-top-right
{
    top: 20px;
    right: 20px;
    text-align: right;
    display: none;
}

.loading-container
{
    position: absolute;
    left: 5%;
    right: 5%;
    bottom: 10%;

    z-index: 5;

    color: #fff;

    font-family: Arial;
}

.loading-labels
{
    font-weight: bold;
    text-shadow: -1px 0 rgba(92, 92, 92, 0.267), 0 1px rgba(92, 92, 92, 0.267), 1px 0 rgba(92, 92, 92, 0.267), 0 -1px rgba(92, 92, 92, 0.267);
    width: 100%;
    height: 20px;

    margin-left: 2px;
    margin-right: 3px;

    margin-top: 5px;
    margin-bottom: 12px;

    padding: 5px;
    text-align: center;
    position: relative;
    display: inline;
    white-space: nowrap;
}

.loading-labels div
{
    display: none;
    text-align: left;
    font-size: 20px;
    position: relative;
    
    /*text-shadow:
    -1px -1px 1px #000,
    1px -1px 1px #000,
    -1px 1px 1px #000,
    1px 1px 1px #000;  */
}

.loading-bar-container
{
    width: 100%;
    background-color: rgba(140, 140, 140, .9);
    height: 20px;

    margin-left: 2px;
    margin-right: 3px;

    margin-top: 5px;
    margin-bottom: 5px;

    box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
    background-color: #1a1a1a;

    border-radius: 6px;
    padding: 5px;
    text-align: left;
    overflow: hidden;
    position: relative;
    display: block;
    white-space: nowrap;
}

.loading-bar
{
    width: 0%;
    height: 20px;
    border-radius: 3px;

    background-size: 30px 30px;      
    background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    -webkit-animation: animate-stripes 3s linear infinite;

    display: none;

    transition: width 0.3s;
    transition-timing-function: ease-out;
}

.bgcolor-first 
{
    background-color: #5db6e5;
}

.bgcolor-second 
{    
    background-color: #72cb72;
}

.bgcolor-third 
{
    background-color: #ff8555;
}

.bgcolor-fourth 
{
    background-color: #f0c850;
}


.color-first 
{
    color: #5db6e5;
}

.color-second 
{   
    color: #72cb72; 
}

.color-third 
{
    color: #ff8555;
    /* color: #bd517c; */
}

.color-fourth 
{
    color: #f0c850;
}


@keyframes animate-stripes {
    0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}